{% extends 'learning_logs/base.html' %}

{% block page_header %}
<h3>記事一覧</h3>
{% endblock page_header %}

{% block content %}

{% if searchForm %}<!-- searchFormがあれば -->
    <form action="{% url 'learning_logs:entries' %}" method="get"><!-- getメソッドでインデックス関数を呼び出す -->
      <div>
        {{ searchForm }}<!-- views.pyから受け取ったsearchFormを表示 -->
        <input type="submit" value="検索">
        <a href="{% url 'learning_logs:entries' %}">クリア</a><!-- postメソッドでインデックス関数を呼び出す -->
      </div>
    </form>
{% endif %}

    {% for entry in entries %}
    <a href="{% url 'learning_logs:entry' entry.id %}">
        {% comment %} {% url 'learning_logs:entry' entry.id %} {% endcomment %}
        <div class="card mb-3">
            <h4 class="card-header">
                {{ entry.date_added|date:'Y年m月d日 H:i'}}</a>
                {% comment %} <small><a href="{% url 'learning_logs:edit_entry' entry.id %}"><button type="button" class="btn btn-outline-secondary">
                    記事を編集
                </a></small></button> {% endcomment %}
            </h4>
            <div class="card-body">
                {{ entry.title|linebreaks }}
            </div>
        </div>
    </a>

    {% empty %}
    <p>まだ記事がありません。</p>
    {% endfor %}

{% endblock content %}