{% extends "learning_logs/base.html" %}
{% load static %}

{% block page_header %}

<link rel="stylesheet" type="text/css" href="{% static 'learning_logs/every_entry.css' %}">
<h3>記事詳細　</h3>
<div class="edit_button">
<small><a href="{% url 'learning_logs:edit_entry' entry.id %}" ><button type="button" class="btn btn-outline-secondary">
    記事を編集
</a></small></button></div>
{% endblock page_header %}

{% block content %}

    <ul>
        <h3>{{entry.title}}</h3>
            <h4 class="main_text">
                {% if entry.image %}
                <img src="/{{entry.image}}" class="img-fluid" style="height:500px;"><br>
                {% endif %}
                <a>{{ entry.text }}</a>
                <br>
                <br>
                <a>応募資格：{{ entry.eligibility }}</a>
                <br>
                <br>
                <a class="btn btn-lg btn-primary" role="button" href="{% url 'learning_logs:apply_entry' entry.id user.id %}">応募する &raquo;</a>
            </h4>
    </ul>

<h3>
    {% comment %} <a href="{% url 'learning_logs:new_topic' %}">新規トピックを追加</a></h3> {% endcomment %}


{% endblock content %}