{% extends "learning_logs/base.html" %}
{% load static %}

{% block page_header %}

<link rel="stylesheet" type="text/css" href="{% static 'learning_logs/every_entry.css' %}">
<h3>記事詳細　</h3>

{% endblock page_header %}

{% block content %}

    <ul>
        <h3>{{entry.title}}</h3>
            <h4 class="main_text">
                {% if entry.image %}
                <img src="/{{entry.image}}" class="img-fluid" style="height:500px;"><br>
                {% endif %}
                <p>{{ entry.text | linebreaks | urlize}}</p>
                <br>
                <p>応募資格：{{ entry.eligibility }}</p>
                <br>
                <p>事業所住所：{{ entry.address }}</p>
                <br>
                <p>選考方法：{{ entry.selection_method | linebreaks | urlize }}</p>
                <a class="btn btn-lg btn-primary" role="button" href="{% url 'learning_logs:apply_entry' entry.id user.id %}">応募する &raquo;</a>
            </h4>
    </ul>

<h3>
    {% comment %} <a href="{% url 'learning_logs:new_topic' %}">新規トピックを追加</a></h3> {% endcomment %}


{% endblock content %}