{% extends "learning_logs/base.html" %}
{% load static %}

{% block page_header %}
<link rel="stylesheet" type="text/css" href="{% static 'learning_logs/text-align.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'learning_logs/every_entry.css' %}">

{% endblock page_header %}

{% block content %}

    <ul>
        <div class="center">
                {% if entry.image %}
                <div class="img-content">
                <img src="/{{entry.image}}" class="img-fluid"><br>
                </div>
                {% endif %}
                    <h3>{{entry.title}}</h3>
                    <h4>トピック：{{ entry.topic }}</h4>
                    <h5><a href="{% url 'learning_logs:other_page2' entry.entry_owner %}">オーナー：{{ entry.entry_owner }}</a></h5>
                    <div class="gray"><a>{{ entry.date_added }}</a></div>
                    <div class="border-top"></div>
                <p class="main_text">{{ entry.text | linebreaks | urlize}}</p>
                <br>
                <div class="border-top"></div>
                <div class="main_text">
                    <h3>募集要項</h3>
                    <br>
                <h4>応募資格：</h4><p>{{ entry.eligibility | linebreaks}}</p>
                <br>
                <h4>事業所住所：</h4><p>{{ entry.address }}</p>
                <br>
                <h4>選考方法：</h4><p>{{ entry.selection_method | linebreaks | urlize }}</p><br>
                <a class="btn btn-lg btn-primary" role="button" href="{% url 'learning_logs:apply_entry' entry.id user.id %}">応募する &raquo;</a>
                </div>
    </ul>

<h3>
</div>
    {% comment %} <a href="{% url 'learning_logs:new_topic' %}">新規トピックを追加</a></h3> {% endcomment %}


{% endblock content %}