{% extends "learning_logs/base.html" %}

{% block page_header %}
<h4>"{{ user.username }}" さんのマイページ</h4>
{% endblock page_header %}

{% block content %}

<table border="1">
<tr><td><p>ユーザーネーム</p></td><td><p>{{ user.username }}</p></td></tr>
<tr><td><p>最後にログインした日時</p></td><td><p>{{ user.last_login }}</p></td></tr>
<tr><td><p>アカウントを作成した日時</p></td><td><p>{{ user.date_joined }}</p></td></tr>
</table>
<br>
<h5>プロフィール</h5>
<p>
<a>{{ profile.family_name }}　</a>
<a>{{ profile.first_name }}</a><br>
<a>{{ profile.sex }}</a><br>
<a>{{ profile.birthday }}</a><br>
<a>{{ profile.email }}</a><br>
<a>{{ profile.prefecture }}</a><br>
<a>{{ profile.address }}</a><br>
<a>{{ profile.postal_code }}</a><br>
<a>{{ profile.career }}</a><br>
<a>{{ profile.introduce | linebreaks | urlize }}</a>
<a href="{% url 'learning_logs:edit_Profile' user.id%}">プロフィールを設定</a>
</p>
<br>

<p>
<h5>記事への応募者</h5>
{% for apply in applys %}
<a href="{% url 'learning_logs:other_page' apply.applicant_id %}">
    {{ apply.date_added }}に"{{ apply.applicant_id }}"さんがあなたの記事"{{ apply.entry_id }}"へ応募しました。
</a><br>
{% endfor %}
</p>
<br>

<h5>自身の作成した記事一覧</h5>

{% for entry in entries %}
    <a href="{% url 'learning_logs:entry' entry.id %}">
        <div class="card mb-3">
            <h4 class="card-header">
                {{ entry.date_added|date:'Y年m月d日 H:i'}}</a>
                <small><button type="button" class="btn btn-outline-secondary"><a href="{% url 'learning_logs:edit_entry' entry.id %}">
                    記事を編集
                </a></small></button>
            </h4>
            <div class="card-body">
                {{ entry.title|linebreaks }}
            </div>
        </div>
    </a>

    {% empty %}
    <p>まだ記事がありません。</p>
    {% endfor %}

{% endblock content %}