{% extends "learning_logs/base.html" %}
{% load static %}


{% block page_header %}
<h4>応募準備</h4>
<link rel="stylesheet" type="text/css" href="{% static 'learning_logs/new_entry.css' %}">
{% endblock page_header %}

{% block content %}

<div class="formtag">
<form action="{% url 'learning_logs:recommend' profile.user%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <p>本当に推薦してよろしいですか？</p>
    <button name='submit' type="submit" class="btn btn-primary">応募する</button>
{% comment %} <a class="btn btn-lg btn-primary" role="button" type= href="{% url 'learning_logs:apply_entered' entry.id user.id %}">応募する &raquo;</a> {% endcomment %}
</form>
</div>

{% endblock content %}