{% extends 'learning_logs/base.html' %}

{% block page_header %}
<h3>{{ topic }}</h3>
{% endblock page_header %}

{% block content %}

    {% comment %} <p>
        <button type="button" class="btn btn-outline-secondary"><a href="{% url 'learning_logs:new_entry'%}">＋ 新しい記事を追加</a></button>
    </p> {% endcomment %}

    {% for entry in entries %}

    <div class="card mb-3">
        <a href="{% url 'learning_logs:entry' entry.id %}">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/{{entry.image}}" class="card-img-top" style="height:300px;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ entry.title|linebreaks }}</h5>
              <p class="card-text">トピック: {{ entry.topic }}</p>
              <p class="card-text">{{ entry.eligibility }}</p>
              <p class="card-text"><small class="text-muted">Last updated {{ entry.date_added|date:'Y年m月d日 H:i'}}</small></p>
            </div>
          </div>
        </div>
        </a>
      </div>

    {% empty %}
    <p>このトピックにはまだ記事がありません。</p>
    {% endfor %}

{% endblock content %}