{% extends "learning_logs/base.html" %}

{% block page_header %}
<h3>トピック一覧</h3>
{% endblock page_header %}

{% block content %}

    <ul>
        {% for topic in topics %}
            <li><h3>
                <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
            </h3></li>
        {% empty %}
        <p>トピックはまだ作成されていません。</p>
        {% endfor %}
    </ul>

    {% comment %} <button type="button" class="btn btn-outline-secondary"><a href="{% url 'learning_logs:new_topic' %}">＋ 新規トピックを追加</a></button> {% endcomment %}


{% endblock content %}