/* every_entry-css */
.edit_button {
    text-align: right;
}
.main_text {
    text-align: center;
}
.gray {
    color: gray;
}
.center {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 5%;
}